body {
    background-color: #2D283E;
    color: #2D283E;
}

.navbar{
    background-color: #564F6F !important;
}

.navbar-brand{
    color: #D1D7E0 !important;
}

.card {
    background-color: #D1D7E0;
}

.pitches {
    display: flex ;
    justify-content: space-around ;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    color: #2D283E;
    margin: 10px;
}

.auth {
    display: flex ;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auth a {
    color: #D1D7E0;
}

.commentbtn{
    color: #D1D7E0;
    background-color: #2D283E;
    width: 5rem;
    font-size: 11px;
    float: right;
    margin: 5px;
}

.commentbtn:hover {
    color: #802BB1 !important;
}

.upvote{
    color: #802BB1;
}

.upvote a {
    text-decoration: none;
    color: #802BB1 !important;
}

.downvote {
    color: #4C495D;
    margin-left: 15px;  
}
.downvote a {
    text-decoration: none;
    color: #4C495D !important;
}

.vote {
    font-size: 15px;
    float: right;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.pitches_tabs {
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.tabp {
    margin: 5px;
    width: 10rem;
    background-color: #564F6F;
}

.linkp{
    color: #2D283E !important;
}

.container {
    color: #D1D7E0;
}


